{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Board</th>
            <th class="text-center">Posts</th>
            <th class="text-center">Topics</th>
            <th class="text-center">Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <td><span class="font-weight-bold"><a href="{% url 'board_topics' board.name %}">{{board.name}}</a></span>
                <small class="text-muted d-block">{{board.Description}}</small>
            </td>
            <td class="text-center">{{board.get_posts_count}}</td>
            <td class="text-center">{{board.topics.count}}</td>
            <td class="text-center">
                {% with post=board.get_last_post %}
                {% if post %}
                by {{post.created_by.username}} at {{post.created_dt}}
                {% else %}
                No Posts
                {% endif %}
                {% endwith %}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}